<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhagwad Gita</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header style="margin-top: 10px;">
        
    </header>
    <main>
        <div class="album py-5">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=0" style="text-decoration: none;"><img src="/chap1.jpeg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=0" style="text-decoration: none;">
                            <h3 class="chapter-title">Chapter 1</h3>
                      </a>
                      <p class="card-text">Arjun Viṣhād Yog: Lamenting the Consequence of War</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=1" style="text-decoration: none;"><img src="/chap2.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=1" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 2</h3>
                        </a>
                        <p class="card-text">Sānkhya Yog : The Yog of Analytical Knowledge</p>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=2" style="text-decoration: none;"><img src="/chap3.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=2" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 3</h3>
                        </a>
                        <p class="card-text">Karm Yog : The Yog of Action</p>
                      </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=3" style="text-decoration: none;"><img src="/chap4.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=3" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 4</h3>
                        </a>
                        <p class="card-text">Jñāna Karm Sanyās Yog : The Yog of Knowledge and the Disciplines of Action</p>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=4" style="text-decoration: none;"><img src="/chap5.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=4" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 5</h3>
                        </a>
                        <p class="card-text">Karm Sanyās Yog : The Yog of Renunciation</p>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=5" style="text-decoration: none;"><img src="/chap6.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=5" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 6</h3>
                        </a>
                        <p class="card-text">Dhyān Yog : The Yog of Meditation</p>
                      </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=6" style="text-decoration: none;"><img src="/chap7.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=6" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 7</h3>
                        </a>
                        <p class="card-text">Jñāna Vijñāna Yog : Yog through the Realization of Divine Knowledge</p>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=7" style="text-decoration: none;"><img src="/chap8.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=7" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 8</h3>
                        </a>
                        <p class="card-text">Akṣhar Brahma Yog : The Yog of the Eternal God</p>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <a href="/link?index=8" style="text-decoration: none;"><img src="/chap9.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=8" style="text-decoration: none;">
                              <h3 class="chapter-title">Chapter 9</h3>
                        </a>
                        <p class="card-text">Rāja Vidyā Yog : Yog through the King of Sciences</p>
                      </div>
                  </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=9" style="text-decoration: none;"><img src="/chap10.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=9" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 10</h3>
                            </a>
                            <p class="card-text">Vibhūti Yog : Yog through Appreciating the Infinite Opulences of God</p>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=10" style="text-decoration: none;"><img src="/chap11.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=10" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 11</h3>
                            </a>
                            <p class="card-text">Viśhwarūp Darśhan Yog : Yog through Beholding the Cosmic Form of God</p>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=11" style="text-decoration: none;"><img src="/chap12.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=11" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 12</h3>
                            </a>
                            <p class="card-text">Bhakti Yog : The Yog of Devotion</p>
                          </div>
                    </div>
                </div>

                
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=12" style="text-decoration: none;"><img src="/chap13.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=12" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 13</h3>
                            </a>
                            <p class="card-text">Kṣhetra Kṣhetrajña Vibhāg Yog : Yog through Distinguishing the Field and the Knower of the Field</p>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=13" style="text-decoration: none;"><img src="/chap14.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=13" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 14</h3>
                            </a>
                            <p class="card-text">Guṇa Traya Vibhāg Yog : Yog through Understanding the Three Modes of Material Nature</p>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=14" style="text-decoration: none;"><img src="/chap15.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=14" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 15</h3>
                            </a>
                            <p class="card-text">Puruṣhottam Yog : The Yog of the Supreme Divine Personality</p>
                          </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=15" style="text-decoration: none;"><img src="/chap16.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=15" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 16</h3>
                            </a>
                            <p class="card-text">Daivāsura Sampad Vibhāg Yog : Yog through Discerning the Divine and Demoniac Natures</p>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=16" style="text-decoration: none;"><img src="/chap17.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=16" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 17</h3>
                            </a>
                            <p class="card-text">Śhraddhā Traya Vibhāg Yog : Yog through Discerning the Three Divisions of Faith</p>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <a href="/link?index=17" style="text-decoration: none;"><img src="/chap18.jpg" class="card-img-top" alt="Card Image" style="height: 225px; object-fit: cover;"></a>
                    <div class="card-body">
                      <a href="/link?index=17" style="text-decoration: none;">
                                  <h3 class="chapter-title">Chapter 18</h3>
                            </a>
                            <p class="card-text">Mokṣha Sanyās Yog : Yog through the Perfection of Renunciation and Surrender</p>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>