<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhagwad Gita</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="background-container">
    </div>

    <div class="content-container">
        <div class="summary summary-english">
            <h2>Summary in English</h2>
            <p><%= summary %></p> <!-- Replace with the actual English summary content -->
        </div>

        <div class="summary summary-hindi">
            <h2>सारांश हिंदी में</h2>
            <p><%= summary_hindi %></p> <!-- Replace with the actual Hindi summary content -->
        </div>

    </div>
    </div>
</body>
</html>